<h1>{{ title }} usuario</h1>
<app-notificaciones [msg]="msg" [type]="type"></app-notificaciones>
<hr>
<form novalidate [formGroup]="userForm" (ngSubmit)="getDataForm()">
  <div>
    <label for="first_name" class="form-label">Nombre</label>
    <input class="form-control" type="text" id="first_name" formControlName="first_name">
  </div>
  <div>
    <label for="last_name" class="form-label">Apellido</label>
    <input class="form-control" type="text" id="last_name" formControlName="last_name">
  </div>
  <div>
    <label for="email" class="form-label">Email</label>
    <input class="form-control" type="text" id="email" formControlName="email">
  </div>
  <div>
    <label for="avatar" class="form-label">Foto</label>
    <input class="form-control" type="text" id="avatar" formControlName="image">
  </div>
  <input type="submit" value="Guardar" class="btn btn-warning mt-3">
</form>
