<div class="card" style="width: 15rem;">
    <img [src]="miUser.image" class="rounded-circle mx-auto img-fluid" width="200" height="236" style="padding: 15px" [alt]="miUser.first_name">
    <div class="card-body" >
      <h5 style="font-size: 12px; text-align: center;" class="card-title">{{miUser.first_name}} {{miUser.last_name}}</h5>
    </div>
    <div style="display: flex">
          
            <a class="btn btn-warning" [routerLink]="['/user', miUser._id]">Ver detalle</a>
            <a class="btn btn-secondary" [routerLink]="['/updateuser', miUser._id]">Actualizar</a>
            <a class="btn btn-danger">Borrar</a>
        
    </div>
</div>
